.container{
    background-color: aliceblue;
    text-align: center;
}
.wordboard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
}